* {
    margin: 0;
    padding: 0;
    background-color: #12274F;
}

header {
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 5%;
    white-space: nowrap;
    margin-top: 3%;
}

.menu {
    font-size: 24px;
    line-height: 36px;
}

a {
    padding-right: 7%;
    
    cursor: pointer;
}

.center {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-left {
    display: inline-block;
    margin-right: 15%;
    cursor: pointer;
}

.container-right {
    display: inline-block;
}

footer {
    display: flex;
    margin-bottom: 2%;
    width: 90%;
    justify-content: center;
    gap: 7%;
}

.icons {
    display: flex;
    justify-content: center;
}


@media (max-width: 1080px) {

    #logo-principal {
        justify-content: center;
    }

    .header-one {
        display: none;
    }


    .container-left {
        margin-right: 0;
    }

    .container-right {
        margin-bottom: 5%;
    }

    .center {
        height: 80vh;
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .img-center {
        max-width: 100%;
        width: 300px;
    }
}

@media (max-width: 600px) {

    header {
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .container-right {
        margin-bottom: 20%;
    }

    .center {
        height: 75vh;
    }

    .img-center {
        width: 200px;
    }
}